@font-face {
  font-family: "Pretendard-Medium";
  src: url("./fonts/Pretendard-Medium.subset.woff2");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("./fonts/Pretendard-Regular.subset.woff2");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./fonts/Pretendard-SemiBold.subset.woff2");
}

body {
  margin: 4rem 0px;
  font-family: "Pretendard-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
